//  ==================================
//  @author: Akshay Anand
//  @package: Theme colors
//  ==================================

//  =====================================================================================
//  ++++++++++++++++++++++++++++++++ Color variables ++++++++++++++++++++++++++++++++++++
//  =====================================================================================
$primary-color: #46caab;
$secondary-color: #001904;
$alt-color: #900a1e;

$white: #ffffff;
$black: #1a191a;
$grey: #f1f1f1;
$dark-grey: #e6e6e6;

// Content/Text colors
$text-color-primary: #000000;
$text-color-greyed: #757575;

// Link/Buttons colors
$link-primary: $primary-color !default;
$link-primary-hover: #33b699 !default;

//  =======================================
//  ++++++++++ Colors Helpers +++++++++++++
//  =======================================

// Color loops
$notation: ".";
$colors: (
        "primary": $primary-color,
        "secondary": $secondary-color,
        "white": $white,
        "black": $black,
        "grey": $grey,
);

@mixin color-helpers() {
  @each $name, $hash in $colors {
    // Background colors
    .#{$name}-bg {
      background-color: #{$hash};
    }

    // Text Color
    .#{$name}-cl {
      color: #{$hash};
    }
  }
}
