//  ============================================
//  @author: Akshay Anand
//  @package: Important config & style variables
//  ============================================

//  =====================================================================================
//  ++++++++++++++++++++++++++++++++ Main variables +++++++++++++++++++++++++++++++++++++
//  =====================================================================================
$site-container-max-width: 1400px; //  Control max width of the application from here.
$site-container-min-width: 320px; //  Control min width of the application from here.

//  =====================================================================================
//  +++++++++++++++++++++++++++++++++ Font families +++++++++++++++++++++++++++++++++++++
//  =====================================================================================
$font-primary: 'Lato', sans-serif;;
$font-header : cursive; 
$font-logo:'Conv_againts';
//  =====================================================================================
//  ++++++++++++++++++++++++++++++++ Other variables ++++++++++++++++++++++++++++++++++++
//  =====================================================================================
$base-spacing-unit: 15px;

$small-container-width : 700px;  // For Smaller Container

//  =====================================================================================
//  +++++++++++++++++++++++++++++++++ z-indexes +++++++++++++++++++++++++++++++++++++++++
//  =====================================================================================

// Main sticky header wrapper
$z-sticky-header: 50;
