header {
  height: auto;
  width: 100%;
  position: relative;

  .dotaDown {
    max-width: 80px;
    margin: 0 auto;
    transform: rotate(45deg);
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
    animation-name: bounceDota;
    animation-fill-mode: both;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition: 0.3s ease-in-out;

    &:focus {
      background: transparent;
      outline: none;
    }

    img {
      width: 100%;
    }

    &__container {
      height: 110px;
    }

  }

}

.spacer__fixed {
  height: 205px;

  @include phone {
    height: 140px;
  }

}

.header {

  &__wrapper {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 40px;
  }

  &__content {
    text-align: center;
    font-family: $font-logo;
    color: #46caab;

    h1 {
      margin: 1rem 0;
      font-size: 8rem;
      text-shadow: 6px 6px 7px #000;

      @include phone {
        font-size: 20vw;
      }

    }

    p {
      font-family: $font-primary;
      font-weight: 400;
      color: #fff;
      font-size: 36px;
      text-shadow: 1px 3px 9px #000;
      margin-top: 30px;

      @include phone {
        font-size: 5vw;
      }
    }

    .coverLogo__container {
      max-width: 350px;
      margin: 0 auto;
      position: relative;

      @include phone {
        max-width: 250px;
      }

      img {
        width: 100%;
      }

    }

    .eye {
      position: absolute;
      width: 12px;
      height: 7px;
      border-radius: 50%;
      background-color: transparent;

      @include phone {
        width: 7px;
        height: 5px;
      }

    }

    .left__eye {
      top: 116px;
      left: 105px;

      @include phone {
        top: 84px;
        left: 76px;
      }

    }

    .right__eye {
      top: 116px;
      left: 140px;

      @include phone {
        top: 83px;
        left: 101px;
      }

    }

    .eyeLightNight {
      animation-name: eyeLight;
      animation-duration: 3s;
      animation-fill-mode: both;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }





  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }



}

@keyframes bounceDota {
  0% {
    transform: rotate(45deg) translateX(0);
  }
  50% {
    transform: rotate(0deg) translateX(-20px);
  }
  100% {
    transform: rotate(45deg) translateX(0);
  }
}

@keyframes eyeLight {
  0% {
    box-shadow: 10px 0px 44px 18px rgba(241, 242, 134, 0);
  }

  50% {
    box-shadow: 10px 0px 44px 18px rgba(241, 242, 134, 0.7);
  }

  100% {
    box-shadow: 10px 0px 44px 18px rgba(241, 242, 134, 0);
  }
}
