header {
  height: auto;
  width: 100%;
}

.spacer__fixed {
  height: 205px;
}

.header {

  &__wrapper {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 40px;
  }

  &__content {
    text-align: center;
    font-family: $font-logo;
    color: #46caab;;
    padding: 0 20px;

    h1 {
      margin: 1rem 0;
      font-size: 8rem;
      text-shadow: 6px 6px 7px #000;
    }

    .coverLogo__container {
      max-width: 350px;
      margin: 0 auto;
      position: relative;

      img {
        width: 100%;
      }

    }

    .eye {
      position: absolute;
      width: 15px;
      height: 8px;
      border-radius: 50%;
      background-color: transparent;

    }

    .left__eye {
      top: 117px;
      left: 105px;
    }

    .right__eye {
      top: 116px;
      left: 140px;
    }

    .eyeLightNight {
      animation-name: eyeLight;
      animation-duration: 3s;
      animation-fill-mode: both;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }





  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }



}

@keyframes eyeLight {
  0% {
    box-shadow: 10px 0px 44px 18px rgba(241, 242, 134, 0);
  }

  50% {
    box-shadow: 10px 0px 44px 18px rgba(241, 242, 134, 0.7);
  }

  100% {
    box-shadow: 10px 0px 44px 18px rgba(241, 242, 134, 0);
  }
}
