.heroType {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0;

  @include below__desktop {
    justify-content: center;
  }

}

.heroHeader__wrapper {
  transition: 0.3s ease-in-out;
  background: url("assets/img/site/heroBg.jpg");
  height: 100%;
  background-size: contain;
  background-repeat: repeat;
}

.search {

  &__query {
    position: fixed;
    z-index: 11;
    background: white;
    padding: 5px $base-spacing-unit;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    transition: 0.5s ease;
    border-radius: 10px;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: $font-logo;
    letter-spacing: 10px;

    @include desktop {
      bottom: 0;
      max-width: 400px;
      transform: translateY(50px);
    }

    @include below__desktop {
      top: 0;
      max-width: calc(100vw - 220px);
      transform: translateY(-50px);
    }

    &.searching {
      transform: translateY(0);
    }
  }

  &__mobile {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: flex-start;

    #search {
      visibility: hidden;
    }

    .labelSearch {
      width: 110px;
      height: 110px;
      background: #0f2fa6;
      margin: 0;
      border-bottom-left-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        color: $white;
        font-size: 30px;
        margin-bottom: $base-spacing-unit * 2;
      }

    }

    .searchBar {
      opacity: 0;
      //visibility: hidden;
    }


    @include above__phone {
      display: none;
    }
  }

}

.heroTab {
  transition: 0.2s ease;

  &.filter {

  }

  &.greyed {
    filter: grayscale(1);
    pointer-events: none;
  }

}

.heroTab:hover {
  @include above__phone {
    transform: scale(1.3);
    transform-origin: center;
  }

}

.heroImg__container {
  width: 150px;
  height: 90px;
  margin: 10px;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
