.heroType {
  display: flex;
  flex-wrap: wrap;
  margin-bottom:50px;
}

.heroTab {
    transition: 0.3s cubic-bezier(1, -0.76, 0.29, 1.36);
}

.heroTab:hover {
    transform: scale(1.5);
    transform-origin: top;
}

.heroImg__container {
  width: 130px;
  height: 75px;
  margin: 10px;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
