nav {
  position: fixed;
  width: 100%;
  z-index: 99;
}


.navbar {

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    background-color: rgba(31, 40, 51, 0.8);
    position: relative;

    // &:after {
    //   content: "";
    //   display: block;
    //   height: 120px;
    //   width: 120px;
    //   position: absolute;
    //   bottom: -60px;
    //   left: 0px;
    //   right: 0;
    //   margin: 0 auto;
    //   transform: rotate(-45deg);
    //   background-image: url("");
    //   background-size: contain;
    // }

  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      max-width: 60px;
      margin-right: 10px;
    }

    p {
      margin: 0;
      font-family: $font-logo;
      letter-spacing: 5px;
      color: #46caab;
      font-size: 1.5rem;
      font-weight: 700;
      font-style: italic;
      margin-right: 30px;
      text-shadow: 6px 6px 7px #000;
    }

  }

  &__item {
    display: flex;
    align-items: center;

    a {
      color: #fff;
    }

  }

  &__item-desk {
    color: #fff;
    font-family: $font-primary;

    a {
      margin: 0;
      font-size: 1.2rem;
      cursor: pointer;
      margin-right: 50px;
      padding: 20px 0 17px;
      transition: 0.3s ease;
      border-bottom: 3px solid transparent;

      &:hover, &.active {
        border-bottom: 3px solid #46caab;
      }


    }

  }

}

// @keyframes dota2 {
//
//   0% {
//     transform: rotate(-45deg) scale(1);
//   }
//
//   25% {
//     transform: rotate(-45deg) scale(1.1);
//   }
//
//   50% {
//     transform: rotate(-45deg) scale(1.1);
//   }
//
//   75% {
//     transform: rotate(-45deg) scale(1);
//   }
//
//   100% {
//     transform: rotate(-45deg) scale(1);
//   }
//
// }
