@keyframes checked-anim {
  50% {
    width: 100vw;
    height: 100vh;
  }

  100% {
    width: 100vw;
    height: 100vh;
  }
}


@keyframes not-checked-anim {
  0% {
    width: 500px;
    height: 500px;
  }
}


.mobNav {

  li {
    margin: 75px 0 -55px 0;
    color: #03A9F4;
    font: 14pt "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
  }

  li {
    width: 230px;
    text-indent: 56px;
  }

  #trigger, #burger, #burger:before, #burger:after {
    position: absolute;
    top: 25px;
    left: 25px;
    background: #03A9F4;
    width: 30px;
    height: 5px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 1;
  }

  #trigger {
    height: 25px;
    background: none;
  }

  #burger:before {
    content: " ";
    top: 10px;
    left: 0;
  }

  #burger:after {
    content: " ";
    top: 20px;
    left: 0;
  }

  #menu-toggle:checked + #trigger + #burger {
    top: 35px;
    transform: rotate(180deg);
    transition: transform .2s ease;
  }

  #menu-toggle:checked + #trigger + #burger:before {
    width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;
  }

  #menu-toggle:checked + #trigger + #burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .5s ease;
  }

  #menu {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 110px;
    height: 110px;
    background-color: #100e23;;
    border-bottom-right-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    animation: not-checked-anim 0.2s both;
    transition: 1s;
    max-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    will-change: height, width;
    background-image: url("assets/img/site/coming__soon.jpg");
  }

  #menu-toggle:checked + #trigger + #burger + #menu {
    animation: checked-anim 1s cubic-bezier(0.65, 0.05, 0.36, 1) both;

    border-bottom-right-radius: 0;
  }

  #menu-toggle:checked + #trigger ~ #menu > li, a {
    display: block;
  }

  [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
  }

}
